body{
    background: #f9f5e2;
}
.header{
    width: 100%;
    height: auto;
    background-color: -webkit-gradient(linear, 0% 0%, 0% 84%, from(#000000), to(#F9F5E2), color-stop(.9,#000000));
}
#getItLogo{
    width: 30%;
    height: auto;
    margin: 0px 35%;
}
.hidden{
    display:none;
}


