body{
    background-color: #f9f5e2;
}
h1, h2, h3, p, li{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #ed2929;
//    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#787878));
}
.discussionPage{
    width: 700px;
    margin-left: 10px;
}
.discussionPage h3, .discussionPage li, .discussionPage p{
    color: #000000;
}
h3{
    margin-top: 0px;
}
#homebtn{
    width: 100px;
    height: 25px;
    margin: 5px 0px;
}
.header{
    background-color: #000000;
}

header h1{
    margin: 0px 0px 5px 10px;
    padding-top: 10px;
}
header p{
    font-weight: bold;
    margin: 0px 0px 5px 10px;
    padding-bottom: 10px;
}
#native{
    width: 450px;
//    height: 300px;
    float: left;
    //margin-bottom: 50px;
}
#native div h2{
    font-size: 24px;
    margin: 42px auto;
    text-align: center;
}
h2{
    margin: 25px 0px 25px auto;
}
#vids{
    width: 475px;
    height: 210px;
    float: left;
    clear: both;
}
#vids img{
    margin-top: 10px;
    width: 155px;
    height: 105px;
}
#discussion{
    clear: right;
    float: left;
    //height: 300px;
}
#discussion ul{
    list-style-type: none;
    padding: 0px;
    margin: 5px ;
}
.button{
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 33px;
}
a{
    text-decoration: none;
}
#last_btn{
    width: 300px;
    height: 40px;
}
#apps{
    
    padding-left: 15px;
    padding-bottom: 15px;
    width: 270px;
    float: left;
}
#appBox{
    border: 1px solid;
    border-radius: 10px;
    padding-top: 5px;
    width: 248px;
    height: 110px;
    background-color: #000000;
}
#idraft{
    margin-right: 15px;
    margin-left: 10px;
    width: 105px;
    height: 105px;
    float: left;
}
#getIt{
    width: 105px;
    height: 105px;
    margin-left: 5px;
}
.dataBox {
    background-color: #fff;
    width: 196px;
    height: 121px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    float: left;
}
.dataBox h2{
    margin: 10%;
}
#crud{
background-color: #fff;
float: left;
text-align: center;
margin: 0px;
padding-top: 38px;
    width: 105px;
    height: 67px;
    border-radius: 10px
}
#vid2page button{
    margin: 10px;
    width: 200px;
    height: 50px;
    float: right;
    clear: both;
}
#vid2page iframe{
    clear: both;
    position: absolute;
    float: left;
}
#deviceInfo {
    font-size: 20px;
    font-weight: bold;
}